# DATA MANIPULATION

SFO Public Department, referred to as SFO, has captured the salary data of all its employees for the years 2011-2014. Now in 2018, the organization is facing some financial crisis. As a first step, HR wants to rationalize employee cost to save payroll budget. You have to perform data manipulation and answer the questions below:

1. How much total salary cost has increased from year 2011 to 2014?
2. Who was the top-earning employee across all the years?

**Objective: Perform data manipulation & visualization techniques.**

In [1]:
import numpy as np
import pandas as pd

In [2]:
data_location = r"C:\Users\12489\Documents\Data\salaries.csv"

df = pd.read_csv(data_location)

df.head()

C:\Users\12489\AppData\Local\Temp\ipykernel_7716\2638098941.py:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_location)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148648 entries, 0 to 148647
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148648 non-null  int64
 1   EmployeeName      148648 non-null  object
 2   JobTitle          148648 non-null  object
 3   BasePay           148043 non-null  float64
 4   OvertimePay       148648 non-null  float64
 5   OtherPay          148648 non-null  float64
 6   Benefits          112490 non-null  float64
 7   TotalPay          148648 non-null  float64
 8   TotalPayBenefits  148648 non-null  float64
 9   Year              148648 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148648 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB

In [4]:
#Source: https://www.youtube.com/watch?v=ipoSjrN0oh0

In [5]:
pay_yearly_sum = df.groupby(['Year'])['TotalPay'].sum()

pay_yearly_sum

Year
2011    2.594113e+09
2012    2.724736e+09
2013    2.918656e+09
2014    2.876911e+09
Name: TotalPay, dtype: float64

In [6]:
pay_yearly_sum.pct_change()

Year
2011         NaN
2012    0.050354
2013    0.071170
2014   -0.014303
Name: TotalPay, dtype: float64

In [7]:
tpb_yearly_sum = df.groupby(['Year'])['TotalPayBenefits'].sum()

tpb_yearly_sum

Year
2011    2.594113e+09
2012    3.696790e+09
2013    3.814772e+09
2014    3.821866e+09
Name: TotalPayBenefits, dtype: float64

In [8]:
tpb_yearly_sum.pct_change()

Year
2011         NaN
2012    0.425069
2013    0.031915
2014    0.001860
Name: TotalPayBenefits, dtype: float64

-----------

In [9]:
print("HIGHEST TOTAL PAY!")

df.iloc[df['TotalPay'].idxmax()].to_frame()

HIGHEST TOTAL PAY!

                                                               0
Id                                                             1
EmployeeName                                      NATHANIEL FORD
JobTitle          GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                167411.18
OvertimePay                                                  0.0
OtherPay                                               400184.25
Benefits                                                     NaN
TotalPay                                               567595.43
TotalPayBenefits                                       567595.43
Year                                                        2011
Notes                                                        NaN
Agency                                             San Francisco
Status                                                       NaN

In [10]:
print("HIGHEST TOTAL PAY & BENEFITS!")

df.iloc[df['TotalPayBenefits'].idxmax()].to_frame()

HIGHEST TOTAL PAY & BENEFITS!

                                                               0
Id                                                             1
EmployeeName                                      NATHANIEL FORD
JobTitle          GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                167411.18
OvertimePay                                                  0.0
OtherPay                                               400184.25
Benefits                                                     NaN
TotalPay                                               567595.43
TotalPayBenefits                                       567595.43
Year                                                        2011
Notes                                                        NaN
Agency                                             San Francisco
Status                                                       NaN